<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configuration of the database connection -->
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://localhost:3306/Biblioteca?createDatabaseIfNotExist=true
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- Database dialect configuration -->
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- Configuration of the SQL query display mode -->
        <property name="show_sql">true</property>

        <!-- DDL generation configuration (create, update, validate, none) -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Entity class mapping -->
        <mapping class="model.Book"/>
        <mapping class="model.Loan"/>
        <mapping class="model.User"/>
    </session-factory>
</hibernate-configuration>